.about-page {
  margin-top: 4rem;
}

.about-subheader {
  font-size: 16px;
  letter-spacing: -0.3px;
  text-align: center;
  color: #1e1e1e;
}

.about-subheader-description {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -0.3px;
  margin-top: 1rem;
}

.about-subheader-subdescription {
  margin-top: 1rem;
}

.about-socials {
  margin-top: 2rem;
}

.about-social-icon {
  box-shadow: inset 0 0 0 1px rgb(0 16 61 / 12%);
  padding: 18px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  margin-right: 10px;
}

.about-social-icon:hover {
  background-color: rgba(0, 16, 61, 0.04);
}

.about-experience {
  max-width: 600px;
  margin: auto;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 2rem;
}

.about-experience-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0px;
}

.about-experience-details {
  padding-top: 2rem;
  padding-right: 32px;
  padding-left: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-experience-date {
  color: #27282ab3;
}

.about-experience-description-title {
  font-size: 20px;
  margin-top: 0.5rem;
  font-weight: bold;
  letter-spacing: -0.1px;
}

.about-experience-description-details {
  color: #1e1e1e;
}

.about-experience-list > li {
  margin-top: 6px;
}

.about-education {
  max-width: 600px;
  margin: auto;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 2rem;
}

.about-education-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0px;
}

.about-education-details {
  padding-top: 2rem;
  padding-right: 32px;
  padding-left: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-education-date {
  color: #27282ab3;
}

.about-education-description-title {
  margin-top: 0.5rem;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.1px;
}

.about-education-description-details {
  padding-top: 0.5rem;
  color: #1e1e1e;
}

.about-education-list > li {
  margin-top: 6px;
}

.about-others {
  max-width: 900px;
  margin: auto;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 720px) {
  .about-others {
    flex-direction: column;
  }
  .about-other {
    margin-bottom: 2rem;
  }
}

.about-other-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0px;
}

.about-other {
  margin-right: 1rem;
}

.about-other-list > li {
  margin-top: 0.3rem;
}

.about-download-resume {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
