.hero {
  display: flex;
  flex-direction: column;
  padding: 64px 0px 32px 0px;
  text-align: center;
  margin-left: 10px;
}

.hero-title-one-colored {
  background: -webkit-linear-gradient(
    302deg,
    #ff9447,
    #ff64c1 29%,
    #925eff 68%,
    #1a1eff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.email-button {
  background-color: #333;
  color: white;
  box-shadow: none;
  font-size: 24px;
}

.email-button:hover .send-icon {
  animation: sendAnimation 0.35s forwards ease-out;
}

.email-send-button {
  height: 24px;
  padding-left: 4px;
}

.send-icon {
  width: 24px;
  height: 24px;
}

@keyframes sendAnimation {
  0% {
    transform: translateX(-40px) translateY(40px);
  }

  100% {
    transform: translateX(0px) translateY(-0px);
  }
}

.hero-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 4.5rem;
  font-weight: bold;
  padding-bottom: 32px;
  line-height: 1.1;
}

.hero-description {
  font-size: 18px;
  letter-spacing: -0.3px;
  padding-bottom: 12px;
  font-weight: 400;
  line-height: 1.5em;
}

.hero-image {
  margin-top: 48px;
  width: 800px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  animation: heroRotate 3s ease-in-out forwards;
}

@media screen and (max-width: 768px) {
  .hero {
    margin-left: 20px;
    padding: 60px 0px;
  }
  .hero-title {
    font-size: 32px !important;
  }
  .hero-image {
    width: 100%;
  }
  .hero-image-section {
    margin-right: 20px;
  }
  .send-icon {
    width: 18px;
    height: 18px;
  }
  .email-button {
    font-size: 16px;
  }
  .email-send-button {
    height: 17px;
    padding-left: 4px;
  }
}

@keyframes heroRotate {
  0% {
    transform: rotateX(-45deg) rotateY(45deg) rotateZ(10deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}
