.hero {
  display: flex;
  flex-direction: column;
  padding: 64px 0px 32px 0px;
  text-align: center;
  margin-left: 10px;
}

.hero-title-one-colored {
  background: -webkit-linear-gradient(
    302deg,
    #ff9447,
    #ff64c1 29%,
    #925eff 68%,
    #1a1eff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.email-button {
  background: #333333;
  color: white;
}

.email-button:hover {
  background-image: linear-gradient(
    302deg,
    #ff9447,
    #ff64c1 29%,
    #925eff 68%,
    #1a1eff
  );
  color: white;
}

.email-button:hover .send-icon {
  animation: sendAnimation 0.35s forwards ease-out;
}

@keyframes sendAnimation {
  0% {
    transform: translateX(-40px) translateY(40px);
  }

  100% {
    transform: translateX(0px) translateY(-0px);
  }
}

@media screen and (max-width: 768px) {
  .hero {
    margin-left: 20px;
    padding: 60px 0px;
  }
}

.hero-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 32px;
  line-height: 1.5em;
}

.hero-description {
  font-size: 18px;
  letter-spacing: -0.3px;
  padding-bottom: 12px;
  font-weight: 400;
  line-height: 1.5em;
}
