.contact-page {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-title {
  text-align: center;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 350;
  letter-spacing: -0.5px;
}

.contact-subtitle {
  font-size: 24px;
  font-weight: 600;
}

.contact-content {
  display: flex;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-button {
  display: flex;
  justify-content: right;
}

.contact-form-submit {
  width: fit-content;
  float: right;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  border: none;
  font-family: 'Sora';
  letter-spacing: -0.2px;
  box-shadow: inset 0 0 0 1px rgb(0 16 61 / 12%);
  text-decoration: none;
  padding: 12px 20px;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 4px;
}

.contact-form-submit:hover .send-icon {
  animation: sendAnimation 0.35s forwards ease-out;
}

.contact-form-submit:hover {
  color: white;
  background-image: linear-gradient(
    302deg,
    #ff9447,
    #ff64c1 29%,
    #925eff 68%,
    #1a1eff
  );
  background-color: transparent;
}

.contact-fields {
  display: flex;
}

.contact-form-left-inputs {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.contact-form-input {
  margin-bottom: 8px;
  background: rgba(0, 16, 61, 0.04);
  padding: 12px 16px;
  border: none;
  outline: none;
  font-size: 16px;
  letter-spacing: -0.5px;
  font-family: 'Sora';
  border-radius: 10px;
  width: 20rem;
  border: 2px solid rgba(0, 16, 61, 0.04);
}

.contact-form-input:focus {
  border: 2px solid #1e1e1e;
}

.contact-form-input:last-child {
  margin-bottom: 0px;
}

@media (max-width: 786px) {
  .contact-page {
    padding-top: 4rem;
  }
  .contact-form-input {
    width: 16rem;
  }
  .contact-form-left-inputs {
    margin-right: 0px;
  }
  .contact-form-input:last-child {
    margin-bottom: 8px;
  }
  .contact-fields {
    display: flex;
    flex-direction: column;
  }
  .contact-form-textarea {
    width: 16rem;
  }
  .contact-form-submit {
    width: 100%;
    margin-right: 0px;
  }
  .contact-details {
    flex-direction: column;
    justify-content: center;
  }
  .contact-page-footer {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px !important;
  }
  .contact-detail {
    margin-bottom: 16px;
  }
  .contact-detail-title {
    font-size: 14px;
  }
  .contact-detail-description {
    font-size: 17px !important;
    font-weight: 600;
  }
}

.contact-form-textarea {
  height: 143px;
  background: rgba(0, 16, 61, 0.04);
  padding: 8px 16px;
  border: none;
  outline: none;
  font-size: 16px;
  letter-spacing: -0.5px;
  font-family: 'Sora';
  border-radius: 10px;
  border: 2px solid rgba(0, 16, 61, 0.04);
}

.contact-form-textarea:focus {
  border: 2px solid #1e1e1e;
}

.contact-details {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.contact-page-footer {
  display: flex;
  margin-top: 100px;
}

.contact-detail-description {
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
.contact-detail-description:hover {
  background: -webkit-linear-gradient(
    302deg,
    #ff9447,
    #ff64c1 29%,
    #925eff 68%,
    #1a1eff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-message {
  text-align: center;
  padding-top: 48px;
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
}

#toast {
  visibility: hidden;
  margin-left: -125px;
  background-color: #333;
  background-image: linear-gradient(
    302deg,
    #ff9447,
    #ff64c1 29%,
    #925eff 68%,
    #1a1eff
  );
  color: #fdf8f5;
  text-align: center;
  border-radius: 2px;
  padding: 8px 24px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  border-radius: 10px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0px;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
