body {
  background-color: #f5f5f560;
  background-position: 0 0;
  background-size: auto;
  box-sizing: border-box;
  font-family: 'Sora';
  margin: auto;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.colored {
  background: -webkit-linear-gradient(
    302deg,
    #ff9447,
    #ff64c1 29%,
    #925eff 68%,
    #1a1eff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.area {
  max-width: 1200px;
  margin: auto;
}

.clickable {
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.center-top {
  display: flex;
  justify-content: center;
}

.pt-24 {
  padding-top: 24px;
}

.mt-16 {
  margin-top: 16px;
}

.button {
  width: fit-content;
  float: right;
  font-size: 15px;
  color: #1e1e1e;
  border-radius: 10px;
  border: none;
  font-family: 'Sora';
  letter-spacing: -0.2px;
  box-shadow: inset 0 0 0 1px rgb(0 16 61 / 12%);
  text-decoration: none;
  padding: 8px 16px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 4px;
}

.button:hover {
  color: white;
  background-color: transparent;
  background-image: linear-gradient(
    302deg,
    #ff9447,
    #ff64c1 29%,
    #925eff 68%,
    #1a1eff
  );
}

.secondary-button {
  width: fit-content;
  float: right;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  border: none;
  font-family: 'Sora';
  letter-spacing: -0.2px;
  transition: background-color 0.1s ease-in;
  box-shadow: inset 0 0 0 1px rgb(0 16 61 / 12%);
  text-decoration: none;
  padding: 8px 16px;
  transition: 0.1s ease-in;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 4px;
}

textarea:-internal-autofill-selected {
  background-color: var(--background);
}
