.cta {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cta-data {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-color-title,
.cta-title {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 16px;
  text-align: center;
}

.cta-color-title {
  background: -webkit-linear-gradient(
    302deg,
    #ff9447,
    #ff64c1 29%,
    #925eff 68%,
    #1a1eff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button-container {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cta-button {
  background-image: linear-gradient(
    302deg,
    #ff9447,
    #ff64c1 29%,
    #925eff 68%,
    #1a1eff
  );
  color: white;
}
