@media screen and (max-width: 992px) {
  .portfolio-item {
    margin-right: 0px;
    flex: 0 0 610px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    flex-direction: column;
    padding: 20px;
  }
  .portfolio-item {
    margin-right: 0px !important;
    margin-left: 0px !important;
    min-width: 100% !important;
  }
  .portfolio-link,
  .portfolio-title,
  .portfolio-img {
    display: block;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  position: relative;
  cursor: pointer;
  transition: 0.15s ease;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 276px !important;
  flex: 20%;
  border-radius: 10px;
  transition: box-shadow 350ms, transform 350ms, -webkit-transform 350ms;
  border: 1px solid #e0e0e0;
}

.portfolio-item:hover {
  /* box-shadow: 0 16px 32px 0 rgb(0 0 0 / 11%); */
  transform: translate(0, -6px);
  box-shadow: 0 16px 32px 0 rgb(0 0 0 / 11%);
}

.portfolio-item:hover .portfolio-title {
  display: block;
}

.portfolio-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}

.last-item {
  margin-right: 0px;
}

.portfolio-link {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  animation: animation-link 0.15s ease-in-out;
  border-radius: 10px;
}

.portfolio-title {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #333333;
  background-image: linear-gradient(
    302deg,
    #ff9447,
    #ff64c1 29%,
    #925eff 68%,
    #1a1eff
  );
  color: white;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px;
  transition: 0.15s ease;
  animation: animation-title 0.15s ease-in-out;
}

.portfolio-item:hover .portfolio-link {
  display: block;
}

.portfolio-link > svg {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 6px;
  transition: 0.15s ease;
  border-radius: 10px;
}

.portfolio-link > svg:hover {
  background-image: linear-gradient(
    302deg,
    #ff9447,
    #ff64c1 29%,
    #925eff 68%,
    #1a1eff
  );
}
.portfolio-link > svg:hover .arrow {
  fill: white;
}

.type {
  color: #6e6d7a;
  font-size: 15px;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 8px;
}
.type:active {
  background-color: none;
}
.type:hover {
  color: #000;
}

.selected-type {
  color: #000;
  font-size: 15px;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 8px;
  box-shadow: inset;
  border-bottom: 2px solid black;
}

.filters {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 12px 0px 12px 0px;
  flex-wrap: wrap;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .filters {
    margin-left: 20px;
  }
}

@keyframes animation-title {
  from {
    bottom: 0px;
    left: 0px;
    opacity: 0%;
  }
  to {
    bottom: 10px;
    left: 10px;
    opacity: 100%;
  }
}

@keyframes animation-link {
  from {
    top: 0px;
    right: 0px;
    opacity: 0%;
  }
  to {
    top: 10px;
    right: 10px;
    opacity: 100%;
  }
}

::selection {
  color: white;
  background-color: #333;
}
