@media screen and (max-width: 992px) {
  .portfolio-item {
    margin-right: 0px;
    flex: 0 0 610px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    flex-direction: column;
    padding: 20px;
  }

  .portfolio-item {
    margin-right: 0px !important;
    margin-left: 0px !important;
    min-width: 100% !important;
  }
  .portfolio-link,
  .portfolio-title,
  .portfolio-build {
    display: block !important;
  }

  .portfolio-img {
    min-height: 100% !important;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  position: relative;
  cursor: pointer;
  /* box-shadow: 0 1px 2px rgb(34 40 47 / 12%); */
  transition: 0.15s ease;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 276px !important;
  flex: 20%;
  border-radius: 10px;
}

.portfolio-item::after {
  box-shadow: inset 0 0 0 1px rgb(0 16 61 / 12%);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 10px;
}

.portfolio-item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.portfolio-item:hover .portfolio-title {
  display: block;
}

.portfolio-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.last-item {
  margin-right: 0px;
}

.portfolio-link {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  animation: animation-link 0.15s ease-in-out;
  border-radius: 10px;
}

.portfolio-title {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  color: black;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px;
  transition: 0.15s ease;
  animation: animation-title 0.15s ease-in-out;
}

.portfolio-build {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 25%;
  color: white;
  background-color: black;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px;
  transition: 0.15s ease;
  animation: animation-build 0.15s ease-in-out;
}

.portfolio-item:hover .portfolio-build {
  display: block;
}

.portfolio-item:hover .portfolio-link {
  display: block;
}

.portfolio-link > svg {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 6px;
  transition: 0.15s ease;
  border-radius: 10px;
}

.portfolio-link:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.portfolio-link > svg:hover {
  background-color: var(--primary);
}
.portfolio-link > svg:hover .arrow {
  fill: white;
}

.type {
  color: #6e6d7a;
  font-size: 15px;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 8px;
  transition: 0.3s;
}
.type:active {
  background-color: none;
}
.type:hover {
  color: #000;
  background-color: rgba(0, 16, 61, 0.04);
}

.selected-type {
  /* background-color: white; */
  /* background-color: #252525; */
  background-color: rgb(244 244 245);
  /* color: white; */
  border-radius: 10px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  /* box-shadow: inset 0 0 0 1px rgb(0 16 61 / 12%); */
  font-size: 15px;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 8px;
}

.filters {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 20px 0px 12px 0px;
  flex-wrap: wrap;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .filters {
    margin-left: 20px;
  }
}

@keyframes animation-title {
  from {
    top: 0px;
    left: 0px;
    opacity: 0%;
  }
  to {
    top: 10px;
    left: 10px;
    opacity: 100%;
  }
}

@keyframes animation-link {
  from {
    top: 0px;
    right: 0px;
    opacity: 0%;
  }
  to {
    top: 10px;
    right: 10px;
    opacity: 100%;
  }
}

@keyframes animation-build {
  from {
    bottom: 0px;
    left: 25%;
    opacity: 0%;
  }
  to {
    bottom: 10px;
    left: 25%;
    opacity: 100%;
  }
}
