@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;800&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #1e1e1e;
  /* --background: #faf8f5; */
  /* #f3cec7 #874b47 */
  --background: #fafafa;
}

body {
  box-sizing: border-box;
  font-family: 'Sora';
  max-width: 1200px;
  margin: auto;
  background-color: var(--background);
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.clickable {
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.center-top {
  display: flex;
  justify-content: center;
}

.pt-24 {
  padding-top: 24px;
}

.mt-16 {
  margin-top: 16px;
}

.secondary-button {
  font-family: 'Sora';
  background-color: rgba(0, 16, 61, 0.04);
  color: #000;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
}

.secondary-button:hover {
  color: white;
  background-color: black;
}

textarea:-internal-autofill-selected {
  background-color: var(--background);
}
